[tool.ruff]
line-length = 88
target-version = "py310"
src = ["strava_competition", "tests"]

[tool.ruff.lint]
select = ["E", "F"]
ignore = ["E501"]

[tool.mypy]
python_version = "3.10"
plugins = []
warn_unused_configs = true
warn_unused_ignores = true
warn_return_any = true
warn_redundant_casts = true
strict_optional = true
no_implicit_optional = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
ignore_missing_imports = true
files = ["strava_competition"]

[[tool.mypy.overrides]]
module = "tests.*"
ignore_errors = true

[tool.bandit]
skips = ["B101"]
